@import url('../main.css');
a:link {
color:#59f;
text-decoration:none;
}

a:visited {
color:#C9C;
text-decoration:none;
}

a:active {
color:#F99;
text-decoration:none;
}

a:hover {
color:maroon;
text-decoration:underline;
}

.message1 .userName, .message1 .date {
	color: #b4df00;
}

.message2 .userName, .message2 .date {
	color: #e79d10;
}

.content {
	border-top: 3px solid #b4df00;
	border-bottom: 1px solid #b4df00;
}

.message2 .content {
	border-top: 3px solid #e79d10;
	border-bottom: 1px solid #e79d10;
}


#headerChatStarted h2 {
	color: #b4df00;
}


.message1 a {
	color: #d9ff35;
}

.message1 a:hover {
	color: #eaff87;
}

.message2 a {
	color: #ffb022;
}

.message2 a:hover {
	color: #ffc863;
}
.name {
text-align:left;
font:11px "Lucida Grande";
font-weight:700;
height:13px;
background:#111;
opacity:0.6;
border-color:#333;
border-style:solid;
border-width:1px;
margin:0 4px 2px 35px;
}

.timestamp {
float:right;
font:10px Helvetica;
font-weight:400;
color:#AAA;
display:inline;
margin:1px 4px;
}

.timestamp.additional {
display:none;
}

