[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=224,223,222
BackgroundNormal=60,2,62
DecorationFocus=115,22,23
DecorationHover=178,34,35
ForegroundActive=146,76,157
ForegroundInactive=137,136,135
ForegroundLink=115,22,23
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=85,85,85
ForegroundPositive=0,110,40
ForegroundVisited=100,74,155

[Colors:Selection]
BackgroundAlternate=62,138,204
BackgroundNormal=65,3,3
DecorationFocus=115,22,23
DecorationHover=178,34,35
ForegroundActive=108,36,119
ForegroundInactive=248,198,195
ForegroundLink=150,5,155
ForegroundNegative=156,14,14
ForegroundNeutral=255,221,0
ForegroundNormal=255,255,255
ForegroundPositive=128,255,128
ForegroundVisited=69,40,134

[Colors:Tooltip]
BackgroundAlternate=196,224,255
BackgroundNormal=12,2,10
DecorationFocus=115,22,23
DecorationHover=178,34,35
ForegroundActive=255,128,224
ForegroundInactive=137,136,135
ForegroundLink=115,22,23
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=85,85,85
ForegroundPositive=0,110,40
ForegroundVisited=150,111,232

[Colors:View]
BackgroundAlternate=248,247,246
BackgroundNormal=12,2,10
DecorationFocus=115,22,23
DecorationHover=178,34,35
ForegroundActive=146,76,157
ForegroundInactive=137,136,135
ForegroundLink=115,22,23
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=85,85,85
ForegroundPositive=0,110,40
ForegroundVisited=100,74,155

[Colors:Window]
BackgroundAlternate=218,217,216
BackgroundNormal=12,2,10
DecorationFocus=115,22,23
DecorationHover=178,34,35
ForegroundActive=146,76,157
ForegroundInactive=137,136,135
ForegroundLink=115,22,23
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=85,85,85
ForegroundPositive=0,110,40
ForegroundVisited=100,74,155

[General]
ColorScheme=Killer
Name=Killer
shadeSortColumn=true

[KDE]
contrast=7

[WM]
activeBackground=55,2,3
activeBlend=55,2,3
activeForeground=255,255,255
inactiveBackground=12,2,10
inactiveBlend=12,2,10
inactiveForeground=75,71,67
