div.update { background-color: #F39; background-image: url('Hearts.png') !important; }

span.in,  div.incoming.content, div.incoming.content div.messageMessage a { color: #9C0; }
span.out, div.outgoing.content, div.outgoing.content div.messageMessage a { color: #F39; }

div.incoming.content.mention { border-color: #9C0; -webkit-box-shadow: 0 0 10px #9C0 inset, 0 0 1px #CF0 inset; }
div.incoming.content.mention img.userIcon { -webkit-box-shadow: 0 0 1px #000 inset, 0 0 5px #F39; }

div#header img.userIcon,
div.incoming.content img.userIcon { background-image: url('Green.png'); }
div.outgoing.content img.userIcon { background-image: url('Pink.png'); }