body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	line-height: 12px;
}

* {
	margin: 0;
	padding: 0;
}

a {
	color: #3c6eeb;
	text-decoration: underline;
	overflow: hidden;
	display: inline-block;
	max-width: 100%;
	text-overflow:ellipsis;
}

#header {
	position: fixed;
	width: 100%;
	opacity: 0;
	z-index: 1;
}

#infoBar {
	background: url(images/infobar.gif) repeat-x;
	height: 12px;
	font-weight: bold;
	text-align: center;
	font-size: 11px;
	line-height: 12px;
	white-space: nowrap;
	width: 100%;
}

#titleBar {
	background: url(images/titlebar.gif) repeat-x;
	height: 12px;
	color: rgba(255,255,255,0.83);
	font-weight: bold;
	font-size: 10px;
	text-align: center;
	line-height: 8px;
	white-space: nowrap;
	text-shadow: #666 0 -1px 1px;
	width: 100%;
}

#Chat {
	margin-top: 15px;
}

/* Messages */

.container, .container_next, .statusContainer {
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #ededed;
	padding-top: 9px;
	width: 100%;
	float: left;
	position: relative;
}

.sender {
	font-weight: bold;
	font-size: 12px;
	display: block;
	padding-right: 15px;
	margin-top: 2px;
	margin-bottom: 0;
	overflow: hidden;
	padding-bottom: 3px;
}

.status {
	font-weight: bold;
	font-size: 12px;
	color: #656565;
	letter-spacing: normal;
}

.time_initial {
	color: #4c8ee3;
	font-size: 8px;
	
}

.container_next .time_initial {
	margin-top: 0;
}

.buddyicon img {
	float: left;
	width: 32px;
	height: 32px;
	margin-left: 5px;
	margin-right: 5px;
}

.message, .context_message {
	color: #656565;
	padding-left: 13px;
	padding-right: 13px;
	font: 11px Helvetica;
}

p {
	padding-bottom: 12px;
}

/* Message History */

.old .sender {
	color: #616161;
}

.old p {
	color: #a8a8a8;
}

.old .time_initial, .old a {
	color: #90b8ed;
}

/* buttons */

button, input {
    margin-left: 5px;
  	height:12px;
  	border-width: 0 9px 0 9px;
  	background-color: transparent;
  	-webkit-border-image: url(images/slateButton.png) 0 9 0 9;
  	
  	color: rgba(81,91,104,0.91);
  	font-weight: bold;
	text-shadow: #ffffff 0 1px 0;
}
  
  button:active, input:active {
  	-webkit-border-image: url(images/blueButton.png) 0 9 0 9;
	color: #fff;
	text-shadow: rgba(0,0,0,0.45) 0 -1px 0;
	padding-top: 1px;
}

/* Unused */

#e.container {
	background: #0061d4 url(images/shine.png) repeat-x left top;
	color: #fff;
}

#e .message {
	color: white;
}

#e .time_initial {
	color: #ffffff;
}
