[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=-0.8
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.25
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=0,0,0
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.4
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=66,65,64
BackgroundNormal=40,45,57
DecorationFocus=72,81,103
DecorationHover=100,112,143
ForegroundActive=220,220,220
ForegroundInactive=60,67,85
ForegroundLink=255,255,255
ForegroundNegative=220,220,220
ForegroundNeutral=192,162,95
ForegroundNormal=232,230,227
ForegroundPositive=120,183,83
ForegroundVisited=255,255,255

[Colors:Selection]
BackgroundAlternate=22,68,120
BackgroundNormal=50,55,71
DecorationFocus=72,81,103
DecorationHover=100,112,143
ForegroundActive=220,220,220
ForegroundInactive=255,255,255
ForegroundLink=255,255,255
ForegroundNegative=220,220,220
ForegroundNeutral=192,162,95
ForegroundNormal=255,255,255
ForegroundPositive=120,183,83
ForegroundVisited=255,255,255

[Colors:Tooltip]
BackgroundAlternate=17,51,86
BackgroundNormal=12,12,12
DecorationFocus=72,81,103
DecorationHover=100,112,143
ForegroundActive=220,220,220
ForegroundInactive=60,67,85
ForegroundLink=255,255,255
ForegroundNegative=220,220,220
ForegroundNeutral=192,162,95
ForegroundNormal=255,255,255
ForegroundPositive=120,183,83
ForegroundVisited=255,255,255

[Colors:View]
BackgroundAlternate=36,35,35
BackgroundNormal=44,46,53
DecorationFocus=72,81,103
DecorationHover=100,112,143
ForegroundActive=220,220,220
ForegroundInactive=60,67,85
ForegroundLink=255,255,255
ForegroundNegative=220,220,220
ForegroundNeutral=192,162,95
ForegroundNormal=212,210,207
ForegroundPositive=120,183,83
ForegroundVisited=255,255,255

[Colors:Window]
BackgroundAlternate=52,51,50
BackgroundNormal=35,36,42
DecorationFocus=72,81,103
DecorationHover=100,112,143
ForegroundActive=220,220,220
ForegroundInactive=60,67,85
ForegroundLink=255,255,255
ForegroundNegative=220,220,220
ForegroundNeutral=192,162,95
ForegroundNormal=224,222,219
ForegroundPositive=120,183,83
ForegroundVisited=255,255,255

[General]
ColorScheme=Sleek Dark 1.0
Name=Sleek Dark 1.0
shadeSortColumn=true

[KDE]
contrast=7

[WM]
activeBackground=19,47,80
activeBlend=255,255,255
activeForeground=255,255,255
inactiveBackground=52,57,74
inactiveBlend=45,49,64
inactiveForeground=91,102,130