[ColorEffects:Disabled]
Color=112,111,110
ColorAmount=-0.8
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.25
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=0,0,0
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.25
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=91,82,77
BackgroundNormal=63,85,135
DecorationFocus=112,255,227
DecorationHover=109,202,255
ForegroundActive=150,191,240
ForegroundInactive=232,230,227
ForegroundLink=31,147,218
ForegroundNegative=243,115,113
ForegroundNeutral=243,242,113
ForegroundNormal=227,217,201
ForegroundPositive=116,242,113
ForegroundVisited=59,114,214

[Colors:Selection]
BackgroundAlternate=122,157,122
BackgroundNormal=122,102,41
DecorationFocus=112,255,227
DecorationHover=109,202,255
ForegroundActive=150,191,240
ForegroundInactive=255,255,255
ForegroundLink=0,111,192
ForegroundNegative=255,127,127
ForegroundNeutral=255,255,127
ForegroundNormal=255,255,255
ForegroundPositive=127,255,127
ForegroundVisited=34,86,214

[Colors:Tooltip]
BackgroundAlternate=78,99,129
BackgroundNormal=67,91,122
DecorationFocus=112,255,227
DecorationHover=109,202,255
ForegroundActive=150,191,240
ForegroundInactive=247,234,234
ForegroundLink=31,147,218
ForegroundNegative=251,117,117
ForegroundNeutral=251,244,117
ForegroundNormal=247,234,234
ForegroundPositive=123,244,117
ForegroundVisited=63,125,231

[Colors:View]
BackgroundAlternate=55,62,79
BackgroundNormal=48,65,105
DecorationFocus=112,255,227
DecorationHover=109,202,255
ForegroundActive=150,191,240
ForegroundInactive=13,12,12
ForegroundLink=31,147,218
ForegroundNegative=134,6,6
ForegroundNeutral=134,133,6
ForegroundNormal=205,197,231
ForegroundPositive=6,133,6
ForegroundVisited=59,114,214

[Colors:Window]
BackgroundAlternate=78,99,129
BackgroundNormal=99,137,180
DecorationFocus=112,255,227
DecorationHover=109,202,255
ForegroundActive=150,191,240
ForegroundInactive=186,198,192
ForegroundLink=31,147,218
ForegroundNegative=251,117,117
ForegroundNeutral=251,244,117
ForegroundNormal=206,227,213
ForegroundPositive=123,244,117
ForegroundVisited=63,125,231

[General]
ColorScheme=Remeber
Name=Remeber
shadeSortColumn=true

[KDE]
contrast=7

[WM]
activeBackground=65,91,120
activeBlend=41,41,41
activeForeground=255,255,255
inactiveBackground=64,63,62
inactiveBlend=122,122,122
inactiveForeground=128,127,125