[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=-0.9
ColorEffect=1
ContrastAmount=0.25
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=224,223,222
BackgroundNormal=200,200,200
DecorationFocus=200,200,200
DecorationHover=200,200,200
ForegroundActive=255,128,224
ForegroundInactive=137,136,135
ForegroundLink=0,87,174
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=25,25,25
ForegroundPositive=0,110,40
ForegroundVisited=100,74,155

[Colors:Selection]
BackgroundAlternate=62,138,204
BackgroundNormal=150,150,150
DecorationFocus=200,200,200
DecorationHover=200,200,200
ForegroundActive=255,128,224
ForegroundInactive=165,193,228
ForegroundLink=0,49,110
ForegroundNegative=156,14,14
ForegroundNeutral=255,221,0
ForegroundNormal=25,25,25
ForegroundPositive=128,255,128
ForegroundVisited=69,40,134

[Colors:Tooltip]
BackgroundAlternate=196,224,255
BackgroundNormal=180,180,180
DecorationFocus=200,200,200
DecorationHover=200,200,200
ForegroundActive=255,128,224
ForegroundInactive=137,136,135
ForegroundLink=0,87,174
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=25,25,25
ForegroundPositive=0,110,40
ForegroundVisited=100,74,155

[Colors:View]
BackgroundAlternate=248,247,246
BackgroundNormal=235,235,235
DecorationFocus=200,200,200
DecorationHover=200,200,200
ForegroundActive=255,128,224
ForegroundInactive=137,136,135
ForegroundLink=0,87,174
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=25,25,25
ForegroundPositive=0,110,40
ForegroundVisited=100,74,155

[Colors:Window]
BackgroundAlternate=218,217,216
BackgroundNormal=200,200,200
DecorationFocus=200,200,200
DecorationHover=200,200,200
ForegroundActive=255,128,224
ForegroundInactive=137,136,135
ForegroundLink=0,87,174
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=25,25,25
ForegroundPositive=0,110,40
ForegroundVisited=100,74,155

[General]
ColorScheme=Theme1k
Name=Theme1k
shadeSortColumn=true

[KDE]
contrast=7

[WM]
activeBackground=200,200,200
activeBlend=200,200,200
activeForeground=25,25,25
inactiveBackground=200,200,200
inactiveBlend=200,200,200
inactiveForeground=100,100,100
