[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=-0.9
ColorEffect=1
ContrastAmount=0.25
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=224,223,222
BackgroundNormal=206,201,219
DecorationFocus=56,103,221
DecorationHover=89,140,207
ForegroundActive=146,76,157
ForegroundInactive=137,136,135
ForegroundLink=0,87,174
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=34,31,30
ForegroundPositive=0,110,40
ForegroundVisited=100,74,155

[Colors:Selection]
BackgroundAlternate=62,138,204
BackgroundNormal=67,95,232
DecorationFocus=220,220,220
DecorationHover=89,140,207
ForegroundActive=108,36,119
ForegroundInactive=220,220,220
ForegroundLink=0,49,110
ForegroundNegative=156,14,14
ForegroundNeutral=255,221,0
ForegroundNormal=255,255,255
ForegroundPositive=128,255,128
ForegroundVisited=69,40,134

[Colors:Tooltip]
BackgroundAlternate=255,255,255
BackgroundNormal=212,219,230
DecorationFocus=56,81,116
DecorationHover=69,108,130
ForegroundActive=201,129,203
ForegroundInactive=87,86,86
ForegroundLink=26,27,105
ForegroundNegative=191,3,3
ForegroundNeutral=235,129,53
ForegroundNormal=0,0,0
ForegroundPositive=32,110,64
ForegroundVisited=45,27,73

[Colors:View]
BackgroundAlternate=248,247,246
BackgroundNormal=255,255,255
DecorationFocus=220,220,220
DecorationHover=89,140,207
ForegroundActive=146,76,157
ForegroundInactive=137,136,135
ForegroundLink=0,87,174
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=31,28,27
ForegroundPositive=0,110,40
ForegroundVisited=100,74,155

[Colors:Window]
BackgroundAlternate=218,217,216
BackgroundNormal=229,228,234
DecorationFocus=56,103,221
DecorationHover=89,140,207
ForegroundActive=146,76,157
ForegroundInactive=137,136,135
ForegroundLink=0,87,174
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=34,31,30
ForegroundPositive=0,110,40
ForegroundVisited=100,74,155

[General]
ColorScheme=Gpurple
Name=Gpurple
shadeSortColumn=true

[KDE]
contrast=7

[WM]
activeBackground=57,66,232
activeBlend=251,251,251
activeForeground=255,255,255
inactiveBackground=224,223,222
inactiveBlend=48,48,48
inactiveForeground=75,71,67