[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=0.05
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=33,63,63
BackgroundNormal=19,51,51
DecorationFocus=43,116,199
DecorationHover=119,183,255
ForegroundActive=255,128,224
ForegroundInactive=246,255,246
ForegroundLink=216,190,255
ForegroundNegative=250,127,123
ForegroundNeutral=250,255,123
ForegroundNormal=246,255,246
ForegroundPositive=123,255,123
ForegroundVisited=206,198,254

[Colors:Selection]
BackgroundAlternate=97,170,208
BackgroundNormal=88,166,205
DecorationFocus=43,116,199
DecorationHover=119,183,255
ForegroundActive=255,177,232
ForegroundInactive=245,238,255
ForegroundLink=216,190,255
ForegroundNegative=250,119,127
ForegroundNeutral=250,246,127
ForegroundNormal=245,238,255
ForegroundPositive=122,246,127
ForegroundVisited=206,198,254

[Colors:Tooltip]
BackgroundAlternate=136,217,242
BackgroundNormal=146,230,255
DecorationFocus=43,116,199
DecorationHover=119,183,255
ForegroundActive=255,128,224
ForegroundInactive=0,34,52
ForegroundLink=216,190,255
ForegroundNegative=127,17,26
ForegroundNeutral=127,144,26
ForegroundNormal=0,34,52
ForegroundPositive=0,144,26
ForegroundVisited=206,198,254

[Colors:View]
BackgroundAlternate=60,63,87
BackgroundNormal=64,68,93
DecorationFocus=43,116,199
DecorationHover=119,183,255
ForegroundActive=255,128,224
ForegroundInactive=189,231,254
ForegroundLink=216,190,255
ForegroundNegative=222,115,127
ForegroundNeutral=222,243,127
ForegroundNormal=189,231,254
ForegroundPositive=94,243,127
ForegroundVisited=206,198,254

[Colors:Window]
BackgroundAlternate=9,46,64
BackgroundNormal=0,34,52
DecorationFocus=43,116,199
DecorationHover=119,183,255
ForegroundActive=255,128,224
ForegroundInactive=146,230,255
ForegroundLink=216,190,255
ForegroundNegative=200,115,127
ForegroundNeutral=200,242,127
ForegroundNormal=146,230,255
ForegroundPositive=73,242,127
ForegroundVisited=206,198,254

[General]
ColorScheme=Striking Blue
Name=Striking Blue
shadeSortColumn=true

[KDE]
contrast=10

[WM]
activeBackground=0,34,52
activeBlend=19,51,51
activeForeground=146,230,255
inactiveBackground=0,34,52
inactiveBlend=0,34,52
inactiveForeground=86,143,159