@import url(../Main.css);

.remoteUser {
	background-color: rgb(16, 120, 152);
	background-image: url(../img/small_chevron_blue.png);
}

.largeChevron:before {
	content: url(../img/large_chevron_blue.png);
}

a {
	color: rgb(16, 120, 152);
	text-decoration: none;
}

a:visited {
	color: #5FBFEF;
	text-decoration: none;	
}

a:hover {
	color: #5FBFEF;
	text-decoration: none;	
}

.status {
	background-color: rgb(16, 120, 152);
}

.status.context {
	background-color: rgb(16, 120, 152);	
}