@import url(../Main.css);

body {
	background: #000000;
}

.remoteUser {
	background-color: rgb(160, 17, 18);
	background-image: url(../img/small_chevron_red.png);
}

.largeChevron:before {
	content: url(../img/large_chevron_darkred.png);
}

a {
	color: rgb(160, 17, 18);
	text-decoration: none;
}

a:visited {
	color: #FF4F3F;
	text-decoration: none;	
}

a:hover {
	color: #FF4F3F;
	text-decoration: none;	
}

.container {
	color: rgb(238,238,238);
}

.buddyicon {
	margin-left: 2px;
	margin-right: 2px;
	height: 32px;
	width: 32px;
}

.nextcontent {
	border-top: 1px solid rgb(56,56,62);
}

.sender {
	color: rgb(238,238,238);
}

.status {
	background-color: rgb(160, 17, 18);
}

.status.context {
	background-color: rgb(160, 17, 18);	
}

::-webkit-scrollbar-thumb {
	background-color: rgb(238,238,238);
	-webkit-border-radius: 7px;