[ColorEffects:Disabled]
Color=96,117,138
ColorAmount=-0.8
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.25
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=0,0,0
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.4
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=66,65,64
BackgroundNormal=64,63,62
DecorationFocus=39,94,160
DecorationHover=87,129,176
ForegroundActive=150,191,240
ForegroundInactive=120,119,117
ForegroundLink=80,142,216
ForegroundNegative=232,88,72
ForegroundNeutral=192,162,95
ForegroundNormal=232,230,227
ForegroundPositive=120,183,83
ForegroundVisited=142,121,165

[Colors:Selection]
BackgroundAlternate=115,115,115
BackgroundNormal=115,115,115
DecorationFocus=83,83,83
DecorationHover=63,63,63
ForegroundActive=255,128,224
ForegroundInactive=137,137,137
ForegroundLink=46,184,230
ForegroundNegative=156,14,14
ForegroundNeutral=255,221,0
ForegroundNormal=255,255,255
ForegroundPositive=128,255,128
ForegroundVisited=255,102,102

[Colors:Tooltip]
BackgroundAlternate=96,117,138
BackgroundNormal=19,47,80
DecorationFocus=64,63,62
DecorationHover=96,117,138
ForegroundActive=150,191,240
ForegroundInactive=120,119,117
ForegroundLink=80,142,216
ForegroundNegative=232,88,72
ForegroundNeutral=192,162,95
ForegroundNormal=196,209,224
ForegroundPositive=120,183,83
ForegroundVisited=142,121,165

[Colors:View]
BackgroundAlternate=36,35,35
BackgroundNormal=32,31,31
DecorationFocus=39,94,160
DecorationHover=87,129,176
ForegroundActive=150,191,240
ForegroundInactive=120,119,117
ForegroundLink=80,142,216
ForegroundNegative=232,88,72
ForegroundNeutral=192,162,95
ForegroundNormal=212,210,207
ForegroundPositive=120,183,83
ForegroundVisited=142,121,165

[Colors:Window]
BackgroundAlternate=52,51,50
BackgroundNormal=48,47,47
DecorationFocus=39,94,160
DecorationHover=87,129,176
ForegroundActive=150,191,240
ForegroundInactive=120,119,117
ForegroundLink=80,142,216
ForegroundNegative=232,88,72
ForegroundNeutral=192,162,95
ForegroundNormal=224,222,219
ForegroundPositive=120,183,83
ForegroundVisited=142,121,165

[General]
ColorScheme=Alienware 
Name=Alienware 
shadeSortColumn=true

[KDE]
contrast=7

[WM]
activeBackground=19,47,80
activeBlend=255,255,255
activeForeground=255,255,255
inactiveBackground=64,63,62
inactiveBlend=100,92,72
inactiveForeground=128,127,125
