body{background:#e8e8e8;margin:0;padding:3px;}
.header{height:26px;margin:2px 8px 0;position:relative;}
.header .left{height:26px;left:-8px;position:absolute;width:8px;}
.header .right{height:26px;position:absolute;right:-8px;width:8px;}
.header .sender{font-family:helvetica;font-size:14px;font-weight:700;height:16px;padding:5px 2px;}
.header img{float:right;padding:5px 2px;}
.messages{padding-left:8px;}
.messages > div{padding-right:8px;}
.messages > div > div{padding:1px 1px 0;}
.time{float:left;margin:0 5px 0 0;overflow:hidden;padding:0;}
.message{margin:0;overflow:hidden;padding:0;}
.messages .sep{height:1px;margin:3px 0 1px;}
.bottom{height:8px;margin:0 8px;position:relative;}
.bottom .left{height:8px;left:-8px;position:absolute;width:8px;}
.bottom .right{height:8px;position:absolute;right:-8px;width:8px;}
.status{margin:0 8px 2px;padding:0;}
.context .header .overlay{float:right;height:16px;margin:5px -18px;width:16px;}
.context + .incoming,.context + .outgoing{margin-top:4px;padding-top:2px;}