[ColorEffects:Disabled]
Color=48,43,30
ColorAmount=-0.25
ColorEffect=0
ContrastAmount=0.1
ContrastEffect=0
IntensityAmount=0.25
IntensityEffect=0

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=227,170,0
ColorAmount=0
ColorEffect=0
ContrastAmount=0.25
ContrastEffect=0
Enable=false
IntensityAmount=0.05
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=90,98,109
BackgroundNormal=75,75,75
DecorationFocus=0,255,0
DecorationHover=0,196,0
ForegroundActive=255,255,255
ForegroundInactive=0,215,0
ForegroundLink=240,255,255
ForegroundNegative=255,255,0
ForegroundNeutral=255,255,0
ForegroundNormal=0,215,0
ForegroundPositive=240,248,255
ForegroundVisited=0,0,0

[Colors:Selection]
BackgroundAlternate=111,126,144
BackgroundNormal=0,185,0
DecorationFocus=0,255,0
DecorationHover=0,196,0
ForegroundActive=255,255,255
ForegroundInactive=255,255,0
ForegroundLink=240,255,255
ForegroundNegative=255,255,0
ForegroundNeutral=255,255,0
ForegroundNormal=255,255,255
ForegroundPositive=240,248,255
ForegroundVisited=0,0,0

[Colors:Tooltip]
BackgroundAlternate=171,181,195
BackgroundNormal=0,0,0
DecorationFocus=0,255,0
DecorationHover=0,196,0
ForegroundActive=255,255,255
ForegroundInactive=0,215,0
ForegroundLink=240,255,255
ForegroundNegative=255,255,0
ForegroundNeutral=255,255,0
ForegroundNormal=0,255,0
ForegroundPositive=240,248,255
ForegroundVisited=0,0,0

[Colors:View]
BackgroundAlternate=67,71,80
BackgroundNormal=63,63,63
DecorationFocus=0,255,0
DecorationHover=0,196,0
ForegroundActive=255,255,255
ForegroundInactive=0,215,0
ForegroundLink=240,255,255
ForegroundNegative=255,255,0
ForegroundNeutral=255,255,0
ForegroundNormal=0,206,0
ForegroundPositive=240,248,255
ForegroundVisited=0,0,0

[Colors:Window]
BackgroundAlternate=78,83,94
BackgroundNormal=71,71,71
DecorationFocus=0,255,0
DecorationHover=0,196,0
ForegroundActive=255,255,255
ForegroundInactive=0,215,0
ForegroundLink=240,255,255
ForegroundNegative=255,255,0
ForegroundNeutral=255,255,0
ForegroundNormal=255,255,255
ForegroundPositive=240,248,255
ForegroundVisited=0,0,0

[General]
ColorScheme=Green
Name=Green
shadeSortColumn=true

[KDE]
contrast=7

[WM]
activeBackground=212,212,212
activeBlend=195,195,195
activeForeground=0,192,0
inactiveBackground=212,212,212
inactiveBlend=212,212,212
inactiveForeground=0,192,0