[ColorEffects:Disabled]
Color=48,43,30
ColorAmount=-0.25
ColorEffect=0
ContrastAmount=0.1
ContrastEffect=0
IntensityAmount=0.25
IntensityEffect=0

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=227,170,0
ColorAmount=0
ColorEffect=0
ContrastAmount=0.25
ContrastEffect=0
Enable=false
IntensityAmount=0.05
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=90,98,109
BackgroundNormal=46,44,44
DecorationFocus=77,93,108
DecorationHover=0,255,0
ForegroundActive=255,255,255
ForegroundInactive=0,215,0
ForegroundLink=240,255,255
ForegroundNegative=255,0,0
ForegroundNeutral=255,128,0
ForegroundNormal=0,255,0
ForegroundPositive=240,248,255
ForegroundVisited=0,0,0

[Colors:Selection]
BackgroundAlternate=111,126,144
BackgroundNormal=0,174,0
DecorationFocus=77,93,108
DecorationHover=0,255,0
ForegroundActive=255,255,255
ForegroundInactive=243,195,0
ForegroundLink=240,255,255
ForegroundNegative=255,0,0
ForegroundNeutral=255,128,0
ForegroundNormal=255,255,255
ForegroundPositive=240,248,255
ForegroundVisited=0,0,0

[Colors:Tooltip]
BackgroundAlternate=171,181,195
BackgroundNormal=0,0,0
DecorationFocus=77,93,108
DecorationHover=0,255,0
ForegroundActive=255,255,255
ForegroundInactive=0,215,0
ForegroundLink=240,255,255
ForegroundNegative=255,0,0
ForegroundNeutral=255,128,0
ForegroundNormal=0,255,0
ForegroundPositive=240,248,255
ForegroundVisited=0,0,0

[Colors:View]
BackgroundAlternate=67,71,80
BackgroundNormal=32,31,31
DecorationFocus=77,93,108
DecorationHover=0,255,0
ForegroundActive=255,255,255
ForegroundInactive=0,215,0
ForegroundLink=240,255,255
ForegroundNegative=255,0,0
ForegroundNeutral=255,128,0
ForegroundNormal=255,255,255
ForegroundPositive=240,248,255
ForegroundVisited=0,0,0

[Colors:Window]
BackgroundAlternate=78,83,94
BackgroundNormal=25,24,24
DecorationFocus=77,93,108
DecorationHover=0,255,0
ForegroundActive=255,255,255
ForegroundInactive=0,215,0
ForegroundLink=240,255,255
ForegroundNegative=255,0,0
ForegroundNeutral=255,128,0
ForegroundNormal=240,248,255
ForegroundPositive=240,248,255
ForegroundVisited=0,0,0

[General]
ColorScheme=Grünes Licht
Name=Grünes Licht
shadeSortColumn=true

[KDE]
contrast=5

[WM]
activeBackground=138,151,166
activeBlend=195,195,195
activeForeground=255,153,51
inactiveBackground=82,89,99
inactiveBlend=109,109,109
inactiveForeground=255,153,51