.message,.nextmessage{display:block;position:relative;text-align:left;}
div.message{margin:0 0 5px;}
.nextmessage{border-top-color:rgba(0,0,0,.1);border-top-style:groove;border-top-width:1px;margin-top:3px;padding-top:4px;}
.buddyicon[background=incoming/buddy_icon.png],.buddyicon[background=outgoing/buddy_icon.png]{display:none;}
.buddyicon[background=incoming/buddy_icon.png] ~ .capsule,.buddyicon[background=outgoing/buddy_icon.png] ~ .capsule{margin-left:3px;}
.buddyicon{height:32px;left:-2px;position:absolute;top:5px;width:32px;}
.capsule{border-style:solid;border-width:1px;margin:0 4px 0 36px;}
.context,.content{padding:5px 6px;}
.sender{background:rgba(255,255,255,.8);font-size:90%;font-weight:700;line-height:16px;padding:1px 6px;}
.time,.status{color:#888;display:block;font-size:90%;position:relative;text-align:center;}
.time{margin-bottom:5px;margin-top:6px;}
.capsule_timestamp{font-size:90%;position:absolute;right:10px;top:4px;visibility:hidden;}
.message:hover .capsule_timestamp{display:visible;visibility:visible;}
.status{margin-bottom:11px;margin-top:11px;}
.incoming .capsule{background:rgba(106,181,241,1);border-color:rgba(106,181,241,1);}
.outgoing .capsule{background:rgba(245,166,34,1);border-color:rgba(245,166,34,1);}