[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=0
ColorEffect=0
ContrastAmount=0.25
ContrastEffect=2
Enable=true
IntensityAmount=0
IntensityEffect=2

[Colors:Button]
BackgroundAlternate=90,98,109
BackgroundNormal=119,130,46
DecorationFocus=125,141,153
DecorationHover=119,149,179
ForegroundActive=133,196,218
ForegroundInactive=49,63,154
ForegroundLink=69,244,186
ForegroundNegative=225,188,206
ForegroundNeutral=218,198,115
ForegroundNormal=255,196,174
ForegroundPositive=145,221,100
ForegroundVisited=125,201,74

[Colors:Selection]
BackgroundAlternate=111,126,144
BackgroundNormal=15,64,64
DecorationFocus=125,141,153
DecorationHover=119,149,179
ForegroundActive=133,196,218
ForegroundInactive=174,192,218
ForegroundLink=69,244,186
ForegroundNegative=225,188,206
ForegroundNeutral=218,198,115
ForegroundNormal=153,244,206
ForegroundPositive=145,221,100
ForegroundVisited=125,201,74

[Colors:Tooltip]
BackgroundAlternate=83,83,83
BackgroundNormal=21,137,30
DecorationFocus=21,137,30
DecorationHover=21,137,30
ForegroundActive=255,128,224
ForegroundInactive=225,225,225
ForegroundLink=46,184,230
ForegroundNegative=191,3,3
ForegroundNeutral=176,128,0
ForegroundNormal=255,255,255
ForegroundPositive=0,110,40
ForegroundVisited=255,102,102

[Colors:View]
BackgroundAlternate=67,71,80
BackgroundNormal=49,93,60
DecorationFocus=125,141,153
DecorationHover=119,149,179
ForegroundActive=133,196,218
ForegroundInactive=49,63,154
ForegroundLink=69,244,186
ForegroundNegative=225,188,206
ForegroundNeutral=218,198,115
ForegroundNormal=255,219,168
ForegroundPositive=145,221,100
ForegroundVisited=125,201,74

[Colors:Window]
BackgroundAlternate=78,83,94
BackgroundNormal=30,57,36
DecorationFocus=125,141,153
DecorationHover=119,149,179
ForegroundActive=133,196,218
ForegroundInactive=49,63,154
ForegroundLink=69,244,186
ForegroundNegative=225,188,206
ForegroundNeutral=218,198,115
ForegroundNormal=199,208,94
ForegroundPositive=145,221,100
ForegroundVisited=125,201,74

[General]
ColorScheme=DesLustres
Name=DesLustres
shadeSortColumn=true

[KDE]
contrast=7

[WM]
activeBackground=21,137,30
activeForeground=255,242,91
inactiveBackground=188,185,22
inactiveForeground=211,224,225