[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=181,186,195
BackgroundNormal=234,237,241
DecorationFocus=86,124,178
DecorationHover=95,149,179
ForegroundActive=239,154,242
ForegroundInactive=116,116,116
ForegroundLink=113,155,204
ForegroundNegative=183,47,47
ForegroundNeutral=235,129,53
ForegroundNormal=0,0,0
ForegroundPositive=0,181,65
ForegroundVisited=163,134,231

[Colors:Selection]
BackgroundAlternate=62,46,86
BackgroundNormal=123,176,209
DecorationFocus=56,81,116
DecorationHover=69,108,130
ForegroundActive=239,154,242
ForegroundInactive=82,98,109
ForegroundLink=26,27,105
ForegroundNegative=225,20,20
ForegroundNeutral=255,221,0
ForegroundNormal=255,255,255
ForegroundPositive=128,255,128
ForegroundVisited=45,27,73

[Colors:Tooltip]
BackgroundAlternate=255,255,255
BackgroundNormal=212,219,230
DecorationFocus=56,81,116
DecorationHover=69,108,130
ForegroundActive=201,129,203
ForegroundInactive=87,86,86
ForegroundLink=26,27,105
ForegroundNegative=191,3,3
ForegroundNeutral=235,129,53
ForegroundNormal=0,0,0
ForegroundPositive=32,110,64
ForegroundVisited=45,27,73

[Colors:View]
BackgroundAlternate=231,231,231
BackgroundNormal=255,255,255
DecorationFocus=56,81,116
DecorationHover=69,108,130
ForegroundActive=239,154,242
ForegroundInactive=112,103,95
ForegroundLink=26,27,105
ForegroundNegative=191,59,57
ForegroundNeutral=235,129,53
ForegroundNormal=0,0,0
ForegroundPositive=0,110,40
ForegroundVisited=45,27,73

[Colors:Window]
BackgroundAlternate=192,198,208
BackgroundNormal=212,219,230
DecorationFocus=73,106,152
DecorationHover=92,145,174
ForegroundActive=239,154,242
ForegroundInactive=116,114,114
ForegroundLink=57,59,232
ForegroundNegative=191,3,3
ForegroundNeutral=235,129,53
ForegroundNormal=0,0,0
ForegroundPositive=56,174,113
ForegroundVisited=128,77,208

[General]
ColorScheme=Fusion 
Name=Fusion Blue
shadeSortColumn=true

[KDE]
contrast=7

[WM]
activeBackground=212,219,230
activeBlend=212,219,230
activeForeground=0,0,0
inactiveBackground=212,219,230
inactiveBlend=212,219,230
inactiveForeground=161,161,161