body{background:#000 url(img/bg.gif);color:#fff;font-size:10px;margin:8px;}
.next{overflow:hidden;}
.incoming{border:5px solid #171717;margin-bottom:6px;}
.incoming .top{font-size:1.1em;}
.incoming .top div{background:url(img/corner_star.png) no-repeat top right;padding:9px 0 8px;}
.incoming .top span{color:#434343;padding:2px 6px 3px;}
.incoming .top span.author{font-weight:700;}
.incoming p{color:#000;line-height:1.6em;margin:0;padding:6px;}
.incoming p,.outgoing p{overflow:hidden;}
.incoming p a,.outgoing p a{color:#000;}
.incoming p span.time{font-size:.9em;line-height:1em;margin:0 5px 0 0;padding:1px 0 1px 6px;}
.incoming p span.time:after{content:' ';display:block;padding:1px 2px 1px 0;}
.outgoing{border:5px solid #171717;margin-bottom:6px;}
.outgoing .top{font-size:1.1em;}
.outgoing .top div{background:url(img/corner_heart.png) no-repeat top right;padding:9px 0 8px;}
.outgoing .top span{color:#434343;padding:2px 6px 3px;}
.outgoing .top span.author{font-weight:700;}
.outgoing p{color:#000;line-height:1.6em;margin:0;padding:6px;}
.outgoing p span.time{font-size:.9em;line-height:1em;margin:0 5px 0 0;padding:1px 0 1px 6px;}
.outgoing p span.time:after{content:' ';display:block;padding:1px 2px 1px 0;}
.status{background:#171717;line-height:1.6em;margin-bottom:10px;}
.status .wrapper{display:block;padding:11px 33px 11px 11px;}
.status .online,.status .return_away,.status .return_idle{background:url(img/status_mark_back.gif) no-repeat top right;}
.status .offline,.status .away,.status .away_message,.status .idle{background:url(img/status_mark_away.gif) no-repeat top right;}
.status .date_separator{background:url(img/status_mark_time.gif) no-repeat top right;}
.status .time{background:#fff url(img/status_time_left.gif) no-repeat top left;color:#171717;font-size:.9em;line-height:1em;margin:0 5px 0 0;padding:1px 0 1px 6px;}
.status .time:after{background:#fff url(img/status_time_right.gif) no-repeat top right;content:' ';display:block;padding:1px 2px 1px 0;}
.status .message{color:#fff;}