@import url("../main.css");
a, .statusContainer a {
	color: #f8efdc;
}
.sender {/* Green */
	color:#c3eeab;
	text-shadow:1px 1px 2px #000,0 0 6px #74b74b;
}
.in .sender{/* Blue */
	color:#a7d0f7;
	text-shadow:1px 1px 2px #000,0 0 6px #0b8cf9;
}
.statusContainer {/* Charcoal */
	color: #ccc;
	text-shadow: 0 1px 0 #444;
	background: #4a4a4a; /* Old browsers */
	background: -webkit-linear-gradient(top, #4a4a4a 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #4a4a4a 0%,#333333 100%); /* W3C */
	border-color:#555 #393939 #2e2e2e #393939;
}