@import url("../main.css");
a, .statusContainer a {
	color: #ddd;
}
.sender { /* Silver */
	color:#ededed;
	text-shadow:1px 1px 2px #000,0 0 6px #888;
}
.in .sender{/* Gold */
	color:#eee09d;
	text-shadow:1px 1px 2px #000,0 0 6px #cda60b;
}
.statusContainer {/* Silver */
	color: #333;
	text-shadow: 0 1px 0 #ddd;
	background: #f4f4f4; /* Old browsers */
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#e0e0e1 48%,#e0e0e1 55%,#bababd 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #f4f4f4 0%,#e0e0e1 48%,#e0e0e1 55%,#bababd 100%); /* W3C */
	border-color:#ccc #d2d2d2;
}