@import url("../main.css");

/* -------------------- */
/* -- INCOMING: Blue -- */
/* -------------------- */

.incoming .top {
	background:#00aeef url(../img/blue/title_bg.gif) repeat-x;
}

.incoming .top span.author {
	background:#ffffff url(../img/blue/title_side1.gif) no-repeat top right;
}

.incoming .top span.time {
	background:#0077a3 url(../img/blue/title_side2.gif) no-repeat top right;
	color:#b3d6e4;
}

.incoming p span.time {
	background:#00aeef url(../img/blue/time_left.gif) no-repeat top left;
	color:#cceffc;
}

.incoming p span.time:after {
	background:#00aeef url(../img/blue/time_right.gif) no-repeat top right;
}

.incoming p {
	background:#cceffc;
}

/* -------------------- */
/* -- OUTGOING: Grey -- */
/* -------------------- */

.outgoing .top {
	background:#a7a7a7 url(../img/grey/title_bg.gif) repeat-x;
}

.outgoing .top span.author {
	background:#ffffff url(../img/grey/title_side1.gif) no-repeat top right;
}

.outgoing .top span.time {
	background:#666666 url(../img/grey/title_side2.gif) no-repeat top right;
	color:#c3c3c3;
}

.outgoing p span.time {
	background:#a7a7a7 url(../img/grey/time_left.gif) no-repeat top left;
	color:#ededed;
}

.outgoing p span.time:after {
	background:#a7a7a7 url(../img/grey/time_right.gif) no-repeat top right;
}

.outgoing p {
	background:#ededed;
}