@import url("../main.css");

/* -------------------- */
/* -- INCOMING: Blue -- */
/* -------------------- */

.incoming .top {
	background:#00aeef url(../img/blue/title_bg.gif) repeat-x;
}

.incoming .top span.author {
	background:#ffffff url(../img/blue/title_side1.gif) no-repeat top right;
}

.incoming .top span.time {
	background:#0077a3 url(../img/blue/title_side2.gif) no-repeat top right;
	color:#b3d6e4;
}

.incoming p span.time {
	background:#00aeef url(../img/blue/time_left.gif) no-repeat top left;
	color:#cceffc;
}

.incoming p span.time:after {
	background:#00aeef url(../img/blue/time_right.gif) no-repeat top right;
}

.incoming p {
	background:#cceffc;
}

/* -------------------- */
/* -- OUTGOING: Pink -- */
/* -------------------- */

.outgoing .top {
	background:#ff6a72 url(../img/pink/title_bg.gif) repeat-x;
}

.outgoing .top span.author {
	background:#ffffff url(../img/pink/title_side1.gif) no-repeat top right;
}

.outgoing .top span.time {
	background:#b0484d url(../img/pink/title_side2.gif) no-repeat top right;
	color:#e7c8ca;
}

.outgoing p span.time {
	background:#ff6a72 url(../img/pink/time_left.gif) no-repeat top left;
	color:#ffe1e3;
}

.outgoing p span.time:after {
	background:#ff6a72 url(../img/pink/time_right.gif) no-repeat top right;
}

.outgoing p {
	background:#ffe1e3;
}