@import url("../main.css");

/* ------------------------- */
/* -- INCOMING: Dark Blue -- */
/* ------------------------- */

.incoming .top {
	background:#336699 url(../img/dark_blue/title_bg.gif) repeat-x;
}

.incoming .top span.author {
	background:#ffffff url(../img/dark_blue/title_side1.gif) no-repeat top right;
}

.incoming .top span.time {
	background:#214263 url(../img/dark_blue/title_side2.gif) no-repeat top right;
	color:#bdc7d1;
}

.incoming p span.time {
	background:#336699 url(../img/dark_blue/time_left.gif) no-repeat top left;
	color:#d6e0eb;
}

.incoming p span.time:after {
	background:#336699 url(../img/dark_blue/time_right.gif) no-repeat top right;
}

.incoming p {
	background:#d6e0eb;
}

/* -------------------- */
/* -- OUTGOING: Grey -- */
/* -------------------- */

.outgoing .top {
	background:#a7a7a7 url(../img/grey/title_bg.gif) repeat-x;
}

.outgoing .top span.author {
	background:#ffffff url(../img/grey/title_side1.gif) no-repeat top right;
}

.outgoing .top span.time {
	background:#666666 url(../img/grey/title_side2.gif) no-repeat top right;
	color:#c3c3c3;
}

.outgoing p span.time {
	background:#a7a7a7 url(../img/grey/time_left.gif) no-repeat top left;
	color:#ededed;
}

.outgoing p span.time:after {
	background:#a7a7a7 url(../img/grey/time_right.gif) no-repeat top right;
}

.outgoing p {
	background:#ededed;
}