@import url("../main.css");

/* --------------------- */
/* -- INCOMING: Green -- */
/* --------------------- */

.incoming .top {
	background:#8dc63f url(../img/green/title_bg.gif) repeat-x;
}

.incoming .top span.author {
	background:#ffffff url(../img/green/title_side1.gif) no-repeat top right;
}

.incoming .top span.time {
	background:#68942b url(../img/green/title_side2.gif) no-repeat top right;
	color:#d2dfc0;
}

.incoming p span.time {
	background:#8dc63f url(../img/green/time_left.gif) no-repeat top left;
	color:#e8f4d9;
}

.incoming p span.time:after {
	background:#8dc63f url(../img/green/time_right.gif) no-repeat top right;
}

.incoming p {
	background:#e8f4d9;
}

/* -------------------- */
/* -- OUTGOING: Pink -- */
/* -------------------- */

.outgoing .top {
	background:#ff6a72 url(../img/pink/title_bg.gif) repeat-x;
}

.outgoing .top span.author {
	background:#ffffff url(../img/pink/title_side1.gif) no-repeat top right;
}

.outgoing .top span.time {
	background:#b0484d url(../img/pink/title_side2.gif) no-repeat top right;
	color:#e7c8ca;
}

.outgoing p span.time {
	background:#ff6a72 url(../img/pink/time_left.gif) no-repeat top left;
	color:#ffe1e3;
}

.outgoing p span.time:after {
	background:#ff6a72 url(../img/pink/time_right.gif) no-repeat top right;
}

.outgoing p {
	background:#ffe1e3;
}