@import url("../main.css");

/* --------------------- */
/* -- INCOMING: Green -- */
/* --------------------- */

.incoming .top {
	background:#8dc63f url(../img/green/title_bg.gif) repeat-x;
}

.incoming .top span.author {
	background:#ffffff url(../img/green/title_side1.gif) no-repeat top right;
}

.incoming .top span.time {
	background:#68942b url(../img/green/title_side2.gif) no-repeat top right;
	color:#d2dfc0;
}

.incoming p span.time {
	background:#8dc63f url(../img/green/time_left.gif) no-repeat top left;
	color:#e8f4d9;
}

.incoming p span.time:after {
	background:#8dc63f url(../img/green/time_right.gif) no-repeat top right;
}

.incoming p {
	background:#e8f4d9;
}

/* ---------------------- */
/* -- OUTGOING: Yellow -- */
/* ---------------------- */

.outgoing .top {
	background:#e5c24c url(../img/yellow/title_bg.gif) repeat-x;
}

.outgoing .top span.author {
	background:#ffffff url(../img/yellow/title_side1.gif) no-repeat top right;
}

.outgoing .top span.time {
	background:#a18834 url(../img/yellow/title_side2.gif) no-repeat top right;
	color:#e6cac5;
}

.outgoing p span.time {
	background:#e5c24c url(../img/yellow/time_left.gif) no-repeat top left;
	color:#faf3db;
}

.outgoing p span.time:after {
	background:#e5c24c url(../img/yellow/time_right.gif) no-repeat top right;
}

.outgoing p {
	background:#faf3db;
}