@import url("../main.css");

/* -------------------- */
/* -- INCOMING: Grey -- */
/* -------------------- */

.incoming .top {
	background:#a7a7a7 url(../img/grey/title_bg.gif) repeat-x;
}

.incoming .top span.author {
	background:#ffffff url(../img/grey/title_side1.gif) no-repeat top right;
}

.incoming .top span.time {
	background:#666666 url(../img/grey/title_side2.gif) no-repeat top right;
	color:#c3c3c3;
}

.incoming p span.time {
	background:#a7a7a7 url(../img/grey/time_left.gif) no-repeat top left;
	color:#ededed;
}

.incoming p span.time:after {
	background:#a7a7a7 url(../img/grey/time_right.gif) no-repeat top right;
}

.incoming p {
	background:#ededed;
}

/* -------------------- */
/* -- OUTGOING: Pink -- */
/* -------------------- */

.outgoing .top {
	background:#ff6a72 url(../img/pink/title_bg.gif) repeat-x;
}

.outgoing .top span.author {
	background:#ffffff url(../img/pink/title_side1.gif) no-repeat top right;
}

.outgoing .top span.time {
	background:#b0484d url(../img/pink/title_side2.gif) no-repeat top right;
	color:#e7c8ca;
}

.outgoing p span.time {
	background:#ff6a72 url(../img/pink/time_left.gif) no-repeat top left;
	color:#ffe1e3;
}

.outgoing p span.time:after {
	background:#ff6a72 url(../img/pink/time_right.gif) no-repeat top right;
}

.outgoing p {
	background:#ffe1e3;
}