@import url("../main.css");

/* ---------------------- */
/* -- INCOMING: Orange -- */
/* ---------------------- */

.incoming .top {
	background:#ff7962 url(../img/orange/title_bg.gif) repeat-x;
}

.incoming .top span.author {
	background:#ffffff url(../img/orange/title_side1.gif) no-repeat top right;
}

.incoming .top span.time {
	background:#aa4c3c url(../img/orange/title_side2.gif) no-repeat top right;
	color:#e6cac5;
}

.incoming p span.time {
	background:#ff7962 url(../img/orange/time_left.gif) no-repeat top left;
	color:#ffe4e0;
}

.incoming p span.time:after {
	background:#ff7962 url(../img/orange/time_right.gif) no-repeat top right;
}

.incoming p {
	background:#ffe4e0;
}

/* --------------------- */
/* -- OUTGOING: Green -- */
/* --------------------- */

.outgoing .top {
	background:#8dc63f url(../img/green/title_bg.gif) repeat-x;
}

.outgoing .top span.author {
	background:#ffffff url(../img/green/title_side1.gif) no-repeat top right;
}

.outgoing .top span.time {
	background:#68942b url(../img/green/title_side2.gif) no-repeat top right;
	color:#d2dfc0;
}

.outgoing p span.time {
	background:#8dc63f url(../img/green/time_left.gif) no-repeat top left;
	color:#e8f4d9;
}

.outgoing p span.time:after {
	background:#8dc63f url(../img/green/time_right.gif) no-repeat top right;
}

.outgoing p {
	background:#e8f4d9;
}