@import url("../main.css");

/* ---------------------- */
/* -- INCOMING: Orange -- */
/* ---------------------- */

.incoming .top {
	background:#ff7962 url(../img/orange/title_bg.gif) repeat-x;
}

.incoming .top span.author {
	background:#ffffff url(../img/orange/title_side1.gif) no-repeat top right;
}

.incoming .top span.time {
	background:#aa4c3c url(../img/orange/title_side2.gif) no-repeat top right;
	color:#e6cac5;
}

.incoming p span.time {
	background:#ff7962 url(../img/orange/time_left.gif) no-repeat top left;
	color:#ffe4e0;
}

.incoming p span.time:after {
	background:#ff7962 url(../img/orange/time_right.gif) no-repeat top right;
}

.incoming p {
	background:#ffe4e0;
}

/* -------------------- */
/* -- OUTGOING: Blue -- */
/* -------------------- */

.outgoing .top {
	background:#00aeef url(../img/blue/title_bg.gif) repeat-x;
}

.outgoing .top span.author {
	background:#ffffff url(../img/blue/title_side1.gif) no-repeat top right;
}

.outgoing .top span.time {
	background:#0077a3 url(../img/blue/title_side2.gif) no-repeat top right;
	color:#b3d6e4;
}

.outgoing p span.time {
	background:#00aeef url(../img/blue/time_left.gif) no-repeat top left;
	color:#cceffc;
}

.outgoing p span.time:after {
	background:#00aeef url(../img/blue/time_right.gif) no-repeat top right;
}

.outgoing p {
	background:#cceffc;
}