@import url("../main.css");

/* ---------------------- */
/* -- INCOMING: Yellow -- */
/* ---------------------- */

.incoming .top {
	background:#e5c24c url(../img/yellow/title_bg.gif) repeat-x;
}

.incoming .top span.author {
	background:#ffffff url(../img/yellow/title_side1.gif) no-repeat top right;
}

.incoming .top span.time {
	background:#a18834 url(../img/yellow/title_side2.gif) no-repeat top right;
	color:#e6cac5;
}

.incoming p span.time {
	background:#e5c24c url(../img/yellow/time_left.gif) no-repeat top left;
	color:#faf3db;
}

.incoming p span.time:after {
	background:#e5c24c url(../img/yellow/time_right.gif) no-repeat top right;
}

.incoming p {
	background:#faf3db;
}

/* -------------------- */
/* -- OUTGOING: Pink -- */
/* -------------------- */

.outgoing .top {
	background:#ff6a72 url(../img/pink/title_bg.gif) repeat-x;
}

.outgoing .top span.author {
	background:#ffffff url(../img/pink/title_side1.gif) no-repeat top right;
}

.outgoing .top span.time {
	background:#b0484d url(../img/pink/title_side2.gif) no-repeat top right;
	color:#e7c8ca;
}

.outgoing p span.time {
	background:#ff6a72 url(../img/pink/time_left.gif) no-repeat top left;
	color:#ffe1e3;
}

.outgoing p span.time:after {
	background:#ff6a72 url(../img/pink/time_right.gif) no-repeat top right;
}

.outgoing p {
	background:#ffe1e3;
}