@import url("../main.css");

/* ---------------------- */
/* -- INCOMING: Yellow -- */
/* ---------------------- */

.incoming .top {
	background:#e5c24c url(../img/yellow/title_bg.gif) repeat-x;
}

.incoming .top span.author {
	background:#ffffff url(../img/yellow/title_side1.gif) no-repeat top right;
}

.incoming .top span.time {
	background:#a18834 url(../img/yellow/title_side2.gif) no-repeat top right;
	color:#e6cac5;
}

.incoming p span.time {
	background:#e5c24c url(../img/yellow/time_left.gif) no-repeat top left;
	color:#faf3db;
}

.incoming p span.time:after {
	background:#e5c24c url(../img/yellow/time_right.gif) no-repeat top right;
}

.incoming p {
	background:#faf3db;
}

/* -------------------- */
/* -- OUTGOING: Blue -- */
/* -------------------- */

.outgoing .top {
	background:#00aeef url(../img/blue/title_bg.gif) repeat-x;
}

.outgoing .top span.author {
	background:#ffffff url(../img/blue/title_side1.gif) no-repeat top right;
}

.outgoing .top span.time {
	background:#0077a3 url(../img/blue/title_side2.gif) no-repeat top right;
	color:#b3d6e4;
}

.outgoing p span.time {
	background:#00aeef url(../img/blue/time_left.gif) no-repeat top left;
	color:#cceffc;
}

.outgoing p span.time:after {
	background:#00aeef url(../img/blue/time_right.gif) no-repeat top right;
}

.outgoing p {
	background:#cceffc;
}