a{text-decoration:none;}

body {
	margin: 0;
	background: #ececec;
}

p {
	margin: 0;
	padding: 0;
	
	overflow: auto;
}

.menubottom2 {
	background: url("images/headershadowbottom.png") bottom left repeat-x;
	position:absolute;
	top:100px;
	left:0px;
	width:100%;
	height:5px;
}

.menubottom1 {
	background: url("images/headershadowbottom.png") bottom left repeat-x;
	position:absolute;
	top:52px;
	left:0px;
	width:100%;
	height:5px;
}

#menu1 {
	color: black;
	background: #000000 repeat-x top right;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 52px;
	z-index: 100;
	}


#menu2 {
	background: #000000 url(images/background.png) repeat-x top right;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 100px;
	z-index: 100;
	}


.buddyIconHeader {
	color: black;
	float: left;
	margin: 2px 0px 2px 2px;
	z-index:99999999;

}


.myIconHeader {
	color: black;
	float: right;
	margin: 2px 2px 2px 0px;
	z-index:99999999;
	
	}

.buddyName1 {
	color: orange;
	font-size: 18px;
	font-weight: bold;
	font-family: arial;
	margin: 0px 0px 0px 0px;
	position: absolute;
	left: 58px;
	right:-42px;
	top: 6px;
	overflow:hidden;
	height:23px;
	}
	
.buddyName2 {
	color: green;
	font-size: 22px;
	font-weight: bold;
	font-family: arial;
	margin: 0px 20px 0px 0px;
	position: absolute;
	top: 6px;
	left:108px;
	right:-106px;
	overflow:hidden;
	height:53px;
	}
	

.myName {
	float: right;
	color: white;
	font-size: 22px;
	font-weight: bold;
	font-family: Arial;
	position: absolute;
	right: 111px;
	bottom: 6px;
	}

.time_span {
	position: relative;
	width: 100%;
	top: 40px;
	}

.time1 {
	color:white;
	font-weight: bold;
	font-size: 13px;
	position: absolute;
	bottom: 6px;
	left: 58px;
	right:-41px;
	text-align: left;
	margin: 0;
	overflow:hidden;
	height:18px;
	}

.time2 {
	color:orange;
	font-weight: bold;
	font-size: 12px;
	position: absolute;
	top: 70px;
	left:108px;
	right:-106px;
	margin: 0 20px 0 0;
    overflow:hidden;
    height: 35px;
	}

.next {
	margin-top: 3px;
	padding-top: 3px;
	border-top: 0px;
	margin-right: 0px;
	padding-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
}

.next_text {
	margin-right: 2px;
	overflow:auto;

}

.next_timestamp {
	float: right;
	position:relative;
	right:-5px;

	color: white;

	font-family: "Lucida Grande";
	font-size: 9px;
	font-weight: bold;

	margin: 0 2px 0 -1px;
}


.container_post {
	margin: 14px 0px 10px 0px;
	
	clear: both;
}

.status_edge {
	background: url ("images/status_top_right.png") top right repeat-x;
	width: 11px;
	height: 8px;
	position: absolute;
	right: 0px;
	top: -6px;
}


.container_left {
	margin: 0;
	padding: 3px 0px 0px 5px;
	float: left;

}


.container_right_out {
	margin: 0px 5px 0px 5px;
	
	position: relative;
	top: 2px;
}



.header_blue, .header_red, .header_context {
	
	font-family: "Lucida Grande";
	font-size: 9px;
	font-weight: bold;
	line-height: 17px;

	height: 17px;

	padding: 0px 35px 0px 8px;
	margin-left: 5px;
	margin-right: 11px;
	overflow:hidden;
	
	position: relative;

}

.timestamp, .timestamp_context {
	font-family: "Lucida Grande";
	font-size: 9px;
	font-weight: bold;

	position: absolute;
	right: 12px;
	top: 0px;
}

.timestamp {
	color: white;
}

.timestamp_context {
	color: white;
}

.message_red, .message_blue, .message_context {
	line-height: 1.3em;

	padding: 3px 10px 0px 8px;

	margin-left: 0px;
	margin-right: 5px;
}

.message_red img, .message_blue img, .message_context img {
	vertical-align: middle;
}

.message_red a, .message_blue a, .message_context a {
	text-decoration: none;
}

.message_red a:hover, .message_blue a:hover, .message_context a:hover {
	text-decoration: underline;
}

.header_blue_edge, .header_red_edge {
	width: 11px;
	height: 23px;
	position: absolute;
	right: 0px;
	top: -2px;
}


.header_context_edge {
	width: 11px;
	height: 23px;
	position: absolute;
	right: 0px;
	top: -2px;
}


.bottom_left {

	height: 12px;
	width: 5px;
	position: absolute;
	left: 0px;
}

.bottom_center {

	height: 12px;
	position: absolute;
	right: 13px;
	left: 5px;
}

.bottom_right {

	height: 12px;
	width: 13px;
	position: absolute;
	right: 0px;
}

.container_post_status {
        margin: 20px -5px 15px 0px;

        clear: both;
}

.container_right {
        margin: 0px 5px 0px 5px;

        position: relative;
        top: 2px;
}

.container_message {
        background: url("images/header_context_background.png") bottom left repeat-x;

        position: relative;
}

#Chat {
	overflow: hidden;
	padding-top: 43px;
	padding-bottom: 16px;
	margin-bottom: 0px;
}


