[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0
IntensityEffect=0

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=142,151,160
ColorAmount=0.575
ColorEffect=2
ContrastAmount=0
ContrastEffect=0
Enable=true
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=176,203,230
BackgroundNormal=211,231,250
DecorationFocus=0,128,255
DecorationHover=115,185,255
ForegroundActive=0,70,140
ForegroundInactive=97,129,160
ForegroundLink=147,0,180
ForegroundNegative=120,20,0
ForegroundNeutral=100,83,0
ForegroundNormal=0,0,0
ForegroundPositive=40,80,0
ForegroundVisited=232,115,255

[Colors:Selection]
BackgroundAlternate=38,109,180
BackgroundNormal=13,57,100
DecorationFocus=0,128,255
DecorationHover=115,185,255
ForegroundActive=115,185,255
ForegroundInactive=118,129,140
ForegroundLink=219,35,255
ForegroundNegative=255,42,0
ForegroundNeutral=240,220,0
ForegroundNormal=205,230,255
ForegroundPositive=120,240,0
ForegroundVisited=157,38,180

[Colors:Tooltip]
BackgroundAlternate=38,109,180
BackgroundNormal=13,57,100
DecorationFocus=0,128,255
DecorationHover=115,185,255
ForegroundActive=115,185,255
ForegroundInactive=118,129,140
ForegroundLink=219,35,255
ForegroundNegative=255,42,0
ForegroundNeutral=240,220,0
ForegroundNormal=205,230,255
ForegroundPositive=120,240,0
ForegroundVisited=157,38,180

[Colors:View]
BackgroundAlternate=169,185,200
BackgroundNormal=203,212,220
DecorationFocus=0,128,255
DecorationHover=115,185,255
ForegroundActive=0,70,140
ForegroundInactive=109,145,180
ForegroundLink=147,0,180
ForegroundNegative=120,20,0
ForegroundNeutral=120,100,0
ForegroundNormal=0,0,0
ForegroundPositive=50,100,0
ForegroundVisited=232,115,255

[Colors:Window]
BackgroundAlternate=129,165,200
BackgroundNormal=160,190,220
DecorationFocus=0,128,255
DecorationHover=115,185,255
ForegroundActive=0,80,160
ForegroundInactive=97,129,160
ForegroundLink=117,0,140
ForegroundNegative=100,15,0
ForegroundNeutral=100,83,0
ForegroundNormal=0,0,0
ForegroundPositive=40,80,0
ForegroundVisited=198,50,235

[General]
ColorScheme=Cobalt
Name=Cobalt
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground=0,5,10
activeBlend=0,40,80
activeForeground=225,240,255
inactiveBackground=44,82,120
inactiveBlend=47,103,160
inactiveForeground=161,181,200