@import url(../main.css);

.incoming .name {
    margin: 0px 35px 2px 4px;
	text-align: right;
}

.outgoing .name {
    margin: 0px 4px 2px 35px;
	text-align: left;
}

.incoming .timestamp {
    float: left;
}

.outgoing .timestamp {
    float: right;
}

.incoming .message {
    margin: 0 35px 0 4px;    	
}
.outgoing .message {
    margin: 0 4px 0 35px;
}

.outgoing .buddyicon {
	margin: 3px 0 0;
	float: left;
}

.incoming .buddyicon {
	margin: 3px 0 0;
	float: right;
}
