@import url(../defaults.css);
body {
font-size:10pt;
font-family:'\"DejaVu Sans Mono\"', monospace;
display:block;
font-style:normal;
font-weight:400;
color:#fffefc;
margin:0;
background:#110d12;
text-shadow:0 1px 0.8px #555;
}
.incoming .icon { background: url(../images/white_icon.png) no-repeat; }
.incoming .bar { background: url(../images/white_bar.png) repeat-x; color: black; }
.incoming .space { background: url(../images/white_space.png) no-repeat; }
.incoming .time { background: url(../images/white_end.png) right no-repeat; }
.incoming .next p { border-top: 1px solid #EEEEEE; }
.incoming .next .timeBar { background: url(../images/white_time.png) left no-repeat; color: black; }

.incomingOld .icon { background: url(../images/white_icon_old.png) no-repeat; }
.incomingOld .bar { background: url(../images/white_bar_old.png) repeat-x; color: black; }
.incomingOld .space { background: url(../images/white_space_old.png) no-repeat; }
.incomingOld .time { background: url(../images/white_end_old.png) right no-repeat; }
.incomingOld .next p { border-top: 1px solid #EEEEEE; }
.incomingOld .next .timeBar { background: url(../images/white_time_old.png) left no-repeat; color: black; }


.outgoing .icon { background: url(../images/orange_icon.png) no-repeat; }
.outgoing .bar {background: url(../images/orange_bar.png) repeat-x; }
.outgoing .space {background: url(../images/orange_space.png) no-repeat; }
.outgoing .time { background: url(../images/orange_end.png) right no-repeat; }
.outgoing .next p { border-top: 1px solid #FF5000; }
.outgoing .next .timeBar { background: url(../images/orange_time.png) left no-repeat; }

.outgoingOld .icon { background: url(../images/orange_icon_old.png) no-repeat; }
.outgoingOld .bar {background: url(../images/orange_bar_old.png) repeat-x; }
.outgoingOld .space {background: url(../images/orange_space_old.png) no-repeat; }
.outgoingOld .time { background: url(../images/orange_end_old.png) right no-repeat; }
.outgoingOld .next p { border-top: 1px solid #FF5000; }
.outgoingOld .next .timeBar { background: url(../images/orange_time_old.png) left no-repeat; }
