[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0.5
ColorEffect=1
ContrastAmount=0.5
ContrastEffect=2
IntensityAmount=0.05
IntensityEffect=3

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=0.5
ColorEffect=1
ContrastAmount=0.1
ContrastEffect=2
Enable=true
IntensityAmount=0
IntensityEffect=3

[Colors:Button]
BackgroundAlternate=58,41,31
BackgroundNormal=75,53,40
DecorationFocus=73,50,27
DecorationHover=143,108,77
ForegroundActive=143,98,63
ForegroundInactive=255,220,168
ForegroundLink=164,97,39
ForegroundNegative=255,220,168
ForegroundNeutral=255,220,168
ForegroundNormal=255,220,168
ForegroundPositive=255,220,168
ForegroundVisited=149,101,65

[Colors:Selection]
BackgroundAlternate=195,148,105
BackgroundNormal=201,168,133
DecorationFocus=73,50,27
DecorationHover=167,134,109
ForegroundActive=0,0,0
ForegroundInactive=121,98,82
ForegroundLink=87,44,13
ForegroundNegative=0,0,0
ForegroundNeutral=0,0,0
ForegroundNormal=0,0,0
ForegroundPositive=0,0,0
ForegroundVisited=114,67,27

[Colors:Tooltip]
BackgroundAlternate=64,64,64
BackgroundNormal=24,21,19
DecorationFocus=73,50,27
DecorationHover=143,108,77
ForegroundActive=143,98,63
ForegroundInactive=162,127,107
ForegroundLink=164,97,39
ForegroundNegative=255,220,168
ForegroundNeutral=255,220,168
ForegroundNormal=255,220,168
ForegroundPositive=255,220,168
ForegroundVisited=114,67,27

[Colors:View]
BackgroundAlternate=59,36,23
BackgroundNormal=75,55,40
DecorationFocus=138,101,68
DecorationHover=143,108,77
ForegroundActive=143,98,63
ForegroundInactive=121,101,90
ForegroundLink=164,97,39
ForegroundNegative=255,220,168
ForegroundNeutral=255,220,168
ForegroundNormal=255,220,168
ForegroundPositive=255,220,168
ForegroundVisited=114,67,27

[Colors:Window]
BackgroundAlternate=46,32,18
BackgroundNormal=23,16,9
DecorationFocus=73,50,27
DecorationHover=143,108,77
ForegroundActive=143,98,63
ForegroundInactive=121,101,90
ForegroundLink=164,97,39
ForegroundNegative=255,220,168
ForegroundNeutral=255,220,168
ForegroundNormal=255,220,168
ForegroundPositive=255,220,168
ForegroundVisited=114,67,27

[General]
ColorScheme=Wood 
Name=Wood
shadeSortColumn=true

[KDE]
contrast=7

[WM]
activeBackground=195,148,105
activeBlend=255,220,168
activeForeground=255,220,168
inactiveBackground=192,166,126
inactiveBlend=193,167,127
inactiveForeground=185,160,122